<div class="contacts">
    <ul class="contact_list">
        <div *ngFor="let contact of contacts">
            <li class="contact" (click)="choseContact(contact)" [class.active]="activeContact==contact">
                {{contact.name}}
            </li>
        </div>
    </ul>
    <div class="contacts_value" *ngIf="activeContact!==null" >
        <div>{{activeContact.name}}</div>   
        <div>{{activeContact.type}}</div>  
        <div>{{activeContact.value}}</div>     
    </div>  
    <div class="contact_form">
        <dl>
            <dt><label for="contact-name"><b>NAME</b></label></dt>
            <dd><input type="text" id="contact-name" [(ngModel)]="contactReq.name"></dd>

            <dt><label for="contact-type"><b>TYPE</b></label></dt>
            <dd>
                <select id="contact-type" [(ngModel)]="contactReq.type">
                    <option>phone</option>
                    <option>email</option>
                </select>
            </dd>

            <dt><label for="contact-value"><b>VAULE</b></label></dt>
            <dd><input type="text" id="contact-value" [(ngModel)]="contactReq.value"></dd>

            <dt><button (click)="addContact()"><b>ADD</b></button></dt>
            <div *ngIf="!contactReq.name||!contactReq.type||!contactReq.value">Пожалуйста заполните все поля</div>

        </dl>
    </div>  
</div>