.contacts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    cursor: pointer;
}
li:hover{
    opacity: 0.5;
}
.active:hover{
    opacity: 1;
}
.contact_list{
    width: 25%;
    padding: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: #369 1px solid;
}

.contact{
    margin: auto;
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: grey 1px solid;
}

.contacts_value{
    max-height: 80px;
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #369 1px solid;
}
.active{
    color:#369;
    background-color: rgb(155, 155, 155);
}
dd,dt{
    margin: 20px;
}
.contact_form{
    max-height: 310px;
    border: #369 1px solid;
}
.contact_form div{
    margin: 20px;
}