<p class="alert" *ngIf="error!=null">{{error}}</p>
<div class="form">
    <dl>
        <dt>Логин</dt>
        <dd><input type="text" [(ngModel)]="registerReq.login"></dd>
        <dt>Пароль</dt>
        <dd><input type="password" [(ngModel)]="registerReq.password"></dd>
        <dt>Дата рождения</dt>
        <dd><input type="text" [(ngModel)]="registerReq.bornDate"></dd>
    </dl>
    <button (click)="register()">Войти</button>
</div>

