nav ul{ 
    align-items: center;
    display: flex;
    height: 50px;
    background-color: #369;
    list-style-type: none;
}
nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-right: 50px;
    color: white;
}
nav ul li  a{
    padding-left: 10px;
    padding-right: 10px;
    display:block;
    height: 50px;
    text-decoration: none;
    color: white;
    line-height: 50px;
    cursor: pointer;
}
.active{
    background-color: rgba(0, 0, 0, 0.5);
}
.exit{
    position: absolute;
    right: 0;
}


