<nav>
    <ul>
        <li *ngIf='!isAuth'><a routerLink="login" routerLinkActive="active">Вход</a></li>
        <li *ngIf="!isAuth"><a routerLink="register" routerLinkActive="active">Регестрация</a></li>
        <li><a routerLink="users" routerLinkActive="active">Список пользывателей</a></li>
        <li *ngIf="isAuth"><a routerLink="contacts" routerLinkActive="active">Контакты</a></li>
        <li *ngIf="isAuth" class="exit"><a routerLink="login" routerLinkActive="active" (click)="exit()">Выход</a></li>
    </ul>
</nav>
<main>
    <router-outlet></router-outlet>
</main>

