<p class="alert" *ngIf="error!=null">{{error}}</p>
<div class="form">
    <dl>
        <dt>Логин</dt>
        <dd><input type="text" [(ngModel)]="loginReq.login"></dd>
        <dt>Пароль</dt>
        <dd><input type="password" [(ngModel)]="loginReq.password"></dd>
    </dl>
    <button (click)="login()">Войти</button>
</div>
