/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alert{
    color: red;
}